<div>
  <!--导航-->
  <div class="navbar navbar-inverse bg-inverse col-md-12">
    <a class="navbar-brand">SPORTS STORE</a>
  </div>
  <!--内容模块-->
<div class="row">
  <!--左边导航-->
  <div class="col-md-3 p-5">
    <button class="btn btn-success btn-block" (click)="changeCategory()">Home</button>
    <button class="btn btn-primary btn-block"
            *ngFor="let cat of categories"
            [class.active]="cat == selectedCategory"
    (click)="changeCategory(cat)">{{cat}}</button>
  </div>
  <!--右边内容-->
  <div class="col-md-9 bg-success p-2 rounded">
    <!--具体标签-->
    <div *ngFor="let product of products" class="card card-outline-primary m-3">
      <h4 class="card-header">
        {{product.name}}
        <span class="badge  badge-warning" style="float: right;">
          {{product.price | currency:'USD':true}}
        </span>
      </h4>
      <div class="card-text p-2">
        {{product.description}}
      </div>
    </div>
    <!--分页导航-->
    <div class="pageSlice row">
      <div class="form-inline col-md-3">
        <select class="form-control" [value]="productsPerPage"
                (change)="changePageSize($event.target.value)">
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
        </select>
      </div>
      <div class="btn-group pull-right" >
        <button *ngFor="let page of pageNumbers"
                (click)="changePage(page)"
                [class.active]="page === selectedPage"
                class="btn btn-warning">{{page}}</button>
      </div>
    </div>
  </div>
</div>
</div>
